# Kaggle Titanic

### Data preparation

Column | Missing Data | Feature Scaling | Comment
--- |:---:|:---:|:---
PassengerId|||Needed for submission
Survived|||Training label
Pclass||Rescaling (0-1)|
Name|||Ignored
Sex||Encoded as 0 (M) or 1 (F)|
Age|Impute with mean|Rescaling (0-1)|
SibSp|Impute with mean|Rescaling (0-1)|
Parch|Impute with mean|Rescaling (0-1)|
Ticket|||Ignored
Cabin|||Ignored
Embarked|||Ignored

### Model
  * 15 hidden layers of 128
  * Dropout .4
  * loss='categorical_crossentropy', optimizer='adam'
  * 500 epochs


### Kaggle score
  * 0.75598

In [4]:
import tensorflow as tf
import numpy as np
import pandas as pd
# import matplotlib.pyplot as plt

In [5]:
# load data
train_data = pd.read_csv(r"./data/train.csv")
test_data = pd.read_csv(r"./data/test.csv")

In [6]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [8]:
# Delete the data we don't need
cols = ["Name", "Ticket", "Embarked", "Cabin", "Fare"]
train_data.drop(cols, axis=1, inplace=True)
test_data.drop(cols, axis=1, inplace=True)
train_data.head(20)

    PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch
0             1         0       3    male  22.0      1      0
1             2         1       1  female  38.0      1      0
2             3         1       3  female  26.0      0      0
3             4         1       1  female  35.0      1      0
4             5         0       3    male  35.0      0      0
5             6         0       3    male   NaN      0      0
6             7         0       1    male  54.0      0      0
7             8         0       3    male   2.0      3      1
8             9         1       3  female  27.0      0      2
9            10         1       2  female  14.0      1      0
10           11         1       3  female   4.0      1      1
11           12         1       1  female  58.0      0      0
12           13         0       3    male  20.0      0      0
13           14         0       3    male  39.0      1      5
14           15         0       3  female  14.0      0      0
15           16         1       2  female  55.0      0      0
16           17         0       3    male   2.0      4      1
17           18         1       2    male   NaN      0      0
18           19         0       3  female  31.0      1      0
19           20         1       3  female   NaN      0      0

In [9]:
# Fill the NaNs in Age, SibSp and Parch with the mean of the training data of that column
def fillna_n(col,n):
    col.fillna(n, inplace=True)
    
mean_age = train_data["Age"].mean()
mean_sibsp = train_data["SibSp"].mean()
mean_parch = train_data["Parch"].mean()

fillna_n(train_data["Age"], mean_age)
fillna_n(test_data["Age"], mean_age)
fillna_n(train_data["SibSp"], mean_sibsp)
fillna_n(test_data["SibSp"], mean_sibsp)
fillna_n(train_data["Parch"], mean_parch)
fillna_n(test_data["Parch"], mean_parch)

In [10]:
# What NaNs do we still have?
print(train_data.isnull().sum())
print(test_data.isnull().sum())
train_data[train_data.isnull().any(axis=1)]
test_data[test_data.isnull().any(axis=1)]

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
dtype: int64
PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
dtype: int64

Empty DataFrame
Columns: [PassengerId, Pclass, Sex, Age, SibSp, Parch]
Index: []

In [11]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(["male","female"])
train_data["Sex"] = le.transform(train_data["Sex"]) 
test_data["Sex"] = le.transform(test_data["Sex"])

In [12]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
for data in [train_data, test_data]:
    data["Age"] = scaler.fit_transform(data["Age"].values.reshape(-1,1))
    data["SibSp"] = scaler.fit_transform(data["SibSp"].values.reshape(-1,1))
    data["Pclass"] = scaler.fit_transform(data["Pclass"].values.reshape(-1,1))

train_data.head()

/opt/conda/lib/python3.6/site-packages/sklearn/utils/validation.py:444: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

   PassengerId  Survived  Pclass  Sex       Age  SibSp  Parch
0            1         0     1.0    1  0.271174  0.125      0
1            2         1     0.0    0  0.472229  0.125      0
2            3         1     1.0    0  0.321438  0.000      0
3            4         1     0.0    0  0.434531  0.125      0
4            5         0     1.0    1  0.434531  0.000      0

In [13]:
train_data.to_csv("./data/train_prepped.csv")
test_data.to_csv("./data/test_prepped.csv")

In [14]:
#save PassengerId for evaluation and remove from data
test_passenger_id=test_data["PassengerId"]
train_data.drop("PassengerId", axis=1, inplace=True)
test_data.drop("PassengerId", axis=1, inplace=True)

y = pd.get_dummies(train_data['Survived'])
y.head()

   0  1
0  1  0
1  0  1
2  0  1
3  0  1
4  1  0

In [15]:
x = train_data.drop("Survived", axis=1)
x.head()

   Pclass  Sex       Age  SibSp  Parch
0     1.0    1  0.271174  0.125      0
1     0.0    0  0.472229  0.125      0
2     1.0    0  0.321438  0.000      0
3     0.0    0  0.434531  0.125      0
4     1.0    1  0.434531  0.000      0

In [16]:
from keras.models import Sequential
from keras.optimizers import SGD, RMSprop, Adam
from keras.layers import Dense, Activation, Dropout

Using TensorFlow backend.

In [17]:
model = Sequential()
model.add(Dense(input_dim=x.shape[1], units=128, kernel_initializer='normal', bias_initializer='zeros'))
model.add(Activation('relu'))

for i in range (0,15):
    model.add(Dense(units=128, kernel_initializer='normal', bias_initializer='zeros'))
    model.add(Activation('relu'))
    model.add(Dropout(.4))
    
model.add(Dense(units=2))
model.add(Activation('softmax'))

model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [18]:
model.fit(x.values, y.values, epochs=500, verbose=2)

Epoch 1/500
1s - loss: 0.6807 - acc: 0.6105
Epoch 2/500
0s - loss: 0.6569 - acc: 0.6162
Epoch 3/500
0s - loss: 0.5829 - acc: 0.6229
Epoch 4/500
0s - loss: 0.6496 - acc: 0.6723
Epoch 5/500
0s - loss: 0.5637 - acc: 0.6914
Epoch 6/500
0s - loss: 0.6105 - acc: 0.7542
Epoch 7/500
0s - loss: 0.5920 - acc: 0.7295
Epoch 8/500
0s - loss: 0.5434 - acc: 0.7924
Epoch 9/500
0s - loss: 0.5670 - acc: 0.7643
Epoch 10/500
0s - loss: 0.5333 - acc: 0.7980
Epoch 11/500
0s - loss: 0.5217 - acc: 0.7811
Epoch 12/500
0s - loss: 0.5272 - acc: 0.7991
Epoch 13/500
0s - loss: 0.5248 - acc: 0.7879
Epoch 14/500
0s - loss: 0.5470 - acc: 0.7879
Epoch 15/500
0s - loss: 0.5179 - acc: 0.8070
Epoch 16/500
0s - loss: 0.5064 - acc: 0.8148
Epoch 17/500
0s - loss: 0.5004 - acc: 0.8092
Epoch 18/500
0s - loss: 0.4967 - acc: 0.8103
Epoch 19/500
0s - loss: 0.5122 - acc: 0.8215
Epoch 20/500
0s - loss: 0.5136 - acc: 0.8002
Epoch 21/500
0s - loss: 0.4928 - acc: 0.8103
Epoch 22/500
0s - loss: 0.4840 - acc: 0.8092
Epoch 23/500
0s - loss: 0.5115 - acc: 0.8092
Epoch 24/500
0s - loss: 0.5189 - acc: 0.7890
Epoch 25/500
0s - loss: 0.5017 - acc: 0.7744
Epoch 26/500
0s - loss: 0.5229 - acc: 0.7957
Epoch 27/500
0s - loss: 0.4884 - acc: 0.8013
Epoch 28/500
0s - loss: 0.4791 - acc: 0.8126
Epoch 29/500
0s - loss: 0.4724 - acc: 0.8058
Epoch 30/500
0s - loss: 0.4585 - acc: 0.8092
Epoch 31/500
0s - loss: 0.4768 - acc: 0.8047
Epoch 32/500
0s - loss: 0.4835 - acc: 0.8013
Epoch 33/500
0s - loss: 0.4641 - acc: 0.7991
Epoch 34/500
0s - loss: 0.4613 - acc: 0.8137
Epoch 35/500
0s - loss: 0.4933 - acc: 0.7643
Epoch 36/500
0s - loss: 0.4659 - acc: 0.7879
Epoch 37/500
0s - loss: 0.4484 - acc: 0.8171
Epoch 38/500
0s - loss: 0.4495 - acc: 0.8137
Epoch 39/500
0s - loss: 0.4536 - acc: 0.8013
Epoch 40/500
0s - loss: 0.4525 - acc: 0.8103
Epoch 41/500
0s - loss: 0.4511 - acc: 0.8070
Epoch 42/500
0s - loss: 0.4739 - acc: 0.8260
Epoch 43/500
0s - loss: 0.4775 - acc: 0.7980
Epoch 44/500
0s - loss: 0.4547 - acc: 0.8126
Epoch 45/500
0s - loss: 0.4502 - acc: 0.8092
Epoch 46/500
0s - loss: 0.4919 - acc: 0.7856
Epoch 47/500
0s - loss: 0.4723 - acc: 0.7946
Epoch 48/500
0s - loss: 0.4501 - acc: 0.8092
Epoch 49/500
0s - loss: 0.4355 - acc: 0.8272
Epoch 50/500
0s - loss: 0.4512 - acc: 0.8182
Epoch 51/500
0s - loss: 0.4538 - acc: 0.8159
Epoch 52/500
0s - loss: 0.4461 - acc: 0.8058
Epoch 53/500
0s - loss: 0.4605 - acc: 0.8204
Epoch 54/500
0s - loss: 0.4270 - acc: 0.8204
Epoch 55/500
0s - loss: 0.4348 - acc: 0.8182
Epoch 56/500
0s - loss: 0.4634 - acc: 0.8013
Epoch 57/500
0s - loss: 0.4400 - acc: 0.8204
Epoch 58/500
0s - loss: 0.4571 - acc: 0.8070
Epoch 59/500
0s - loss: 0.4551 - acc: 0.8047
Epoch 60/500
0s - loss: 0.4464 - acc: 0.8103
Epoch 61/500
0s - loss: 0.4476 - acc: 0.8171
Epoch 62/500
0s - loss: 0.4561 - acc: 0.8114
Epoch 63/500
0s - loss: 0.4601 - acc: 0.8058
Epoch 64/500
0s - loss: 0.4440 - acc: 0.8171
Epoch 65/500
0s - loss: 0.4651 - acc: 0.8126
Epoch 66/500
0s - loss: 0.4372 - acc: 0.8227
Epoch 67/500
0s - loss: 0.4380 - acc: 0.8081
Epoch 68/500
0s - loss: 0.4409 - acc: 0.8148
Epoch 69/500
0s - loss: 0.4297 - acc: 0.8272
Epoch 70/500
0s - loss: 0.4354 - acc: 0.8148
Epoch 71/500
0s - loss: 0.4424 - acc: 0.8227
Epoch 72/500
0s - loss: 0.4275 - acc: 0.8283
Epoch 73/500
0s - loss: 0.4383 - acc: 0.8148
Epoch 74/500
0s - loss: 0.4313 - acc: 0.8182
Epoch 75/500
0s - loss: 0.4502 - acc: 0.8092
Epoch 76/500
0s - loss: 0.4546 - acc: 0.8025
Epoch 77/500
0s - loss: 0.4244 - acc: 0.8159
Epoch 78/500
0s - loss: 0.4229 - acc: 0.8193
Epoch 79/500
0s - loss: 0.4305 - acc: 0.8215
Epoch 80/500
0s - loss: 0.4222 - acc: 0.8126
Epoch 81/500
0s - loss: 0.4210 - acc: 0.8238
Epoch 82/500
0s - loss: 0.4129 - acc: 0.8272
Epoch 83/500
0s - loss: 0.4386 - acc: 0.8148
Epoch 84/500
0s - loss: 0.4423 - acc: 0.8148
Epoch 85/500
0s - loss: 0.4448 - acc: 0.8182
Epoch 86/500
0s - loss: 0.4284 - acc: 0.8171
Epoch 87/500
0s - loss: 0.4398 - acc: 0.8002
Epoch 88/500
0s - loss: 0.4242 - acc: 0.7991
Epoch 89/500
0s - loss: 0.4150 - acc: 0.8137
Epoch 90/500
0s - loss: 0.4194 - acc: 0.8092
Epoch 91/500
0s - loss: 0.4413 - acc: 0.8114
Epoch 92/500
0s - loss: 0.4243 - acc: 0.8148
Epoch 93/500
0s - loss: 0.4253 - acc: 0.8137
Epoch 94/500
0s - loss: 0.4377 - acc: 0.8013
Epoch 95/500
0s - loss: 0.4252 - acc: 0.8114
Epoch 96/500
0s - loss: 0.4465 - acc: 0.8182
Epoch 97/500
0s - loss: 0.4048 - acc: 0.8283
Epoch 98/500
0s - loss: 0.4194 - acc: 0.8204
Epoch 99/500
0s - loss: 0.4300 - acc: 0.8171
Epoch 100/500
0s - loss: 0.4219 - acc: 0.8373
Epoch 101/500
0s - loss: 0.4266 - acc: 0.8272
Epoch 102/500
0s - loss: 0.4165 - acc: 0.8238
Epoch 103/500
0s - loss: 0.4425 - acc: 0.8103
Epoch 104/500
0s - loss: 0.4275 - acc: 0.8260
Epoch 105/500
0s - loss: 0.4391 - acc: 0.8114
Epoch 106/500
0s - loss: 0.4322 - acc: 0.8238
Epoch 107/500
0s - loss: 0.4290 - acc: 0.8148
Epoch 108/500
0s - loss: 0.4339 - acc: 0.8114
Epoch 109/500
0s - loss: 0.4256 - acc: 0.8283
Epoch 110/500
0s - loss: 0.4152 - acc: 0.8215
Epoch 111/500
0s - loss: 0.4272 - acc: 0.8238
Epoch 112/500
0s - loss: 0.4178 - acc: 0.8081
Epoch 113/500
0s - loss: 0.4223 - acc: 0.8114
Epoch 114/500
0s - loss: 0.4036 - acc: 0.8103
Epoch 115/500
0s - loss: 0.4265 - acc: 0.8126
Epoch 116/500
0s - loss: 0.5382 - acc: 0.8036
Epoch 117/500
0s - loss: 0.4739 - acc: 0.7957
Epoch 118/500
0s - loss: 0.4671 - acc: 0.7980
Epoch 119/500
0s - loss: 0.4532 - acc: 0.8103
Epoch 120/500
0s - loss: 0.4444 - acc: 0.8036
Epoch 121/500
0s - loss: 0.4381 - acc: 0.8137
Epoch 122/500
0s - loss: 0.4120 - acc: 0.8171
Epoch 123/500
0s - loss: 0.4164 - acc: 0.8204
Epoch 124/500
0s - loss: 0.4174 - acc: 0.8272
Epoch 125/500
0s - loss: 0.4365 - acc: 0.8159
Epoch 126/500
0s - loss: 0.4130 - acc: 0.8238
Epoch 127/500
0s - loss: 0.4323 - acc: 0.8126
Epoch 128/500
0s - loss: 0.4300 - acc: 0.8092
Epoch 129/500
0s - loss: 0.4489 - acc: 0.8114
Epoch 130/500
0s - loss: 0.4330 - acc: 0.8070
Epoch 131/500
0s - loss: 0.4275 - acc: 0.8103
Epoch 132/500
0s - loss: 0.4238 - acc: 0.8227
Epoch 133/500
0s - loss: 0.4233 - acc: 0.8159
Epoch 134/500
0s - loss: 0.4218 - acc: 0.8159
Epoch 135/500
0s - loss: 0.4459 - acc: 0.8137
Epoch 136/500
0s - loss: 0.4379 - acc: 0.8193
Epoch 137/500
0s - loss: 0.4158 - acc: 0.8193
Epoch 138/500
0s - loss: 0.4039 - acc: 0.8148
Epoch 139/500
0s - loss: 0.4207 - acc: 0.8260
Epoch 140/500
0s - loss: 0.4051 - acc: 0.8193
Epoch 141/500
0s - loss: 0.4248 - acc: 0.8182
Epoch 142/500
0s - loss: 0.4365 - acc: 0.8047
Epoch 143/500
0s - loss: 0.4533 - acc: 0.8036
Epoch 144/500
0s - loss: 0.4392 - acc: 0.8171
Epoch 145/500
0s - loss: 0.4280 - acc: 0.8126
Epoch 146/500
0s - loss: 0.4440 - acc: 0.8047
Epoch 147/500
0s - loss: 0.4413 - acc: 0.8013
Epoch 148/500
0s - loss: 0.4215 - acc: 0.8215
Epoch 149/500
0s - loss: 0.4137 - acc: 0.8171
Epoch 150/500
0s - loss: 0.4196 - acc: 0.8081
Epoch 151/500
0s - loss: 0.4207 - acc: 0.8137
Epoch 152/500
0s - loss: 0.4178 - acc: 0.8092
Epoch 153/500
0s - loss: 0.4140 - acc: 0.8036
Epoch 154/500
0s - loss: 0.4355 - acc: 0.8081
Epoch 155/500
0s - loss: 0.4223 - acc: 0.8148
Epoch 156/500
0s - loss: 0.4090 - acc: 0.8328
Epoch 157/500
0s - loss: 0.4276 - acc: 0.8305
Epoch 158/500
0s - loss: 0.4256 - acc: 0.8103
Epoch 159/500
0s - loss: 0.4179 - acc: 0.8227
Epoch 160/500
0s - loss: 0.4193 - acc: 0.8126
Epoch 161/500
0s - loss: 0.4301 - acc: 0.8137
Epoch 162/500
0s - loss: 0.4059 - acc: 0.8036
Epoch 163/500
0s - loss: 0.4122 - acc: 0.8249
Epoch 164/500
0s - loss: 0.4082 - acc: 0.8238
Epoch 165/500
0s - loss: 0.4256 - acc: 0.8036
Epoch 166/500
0s - loss: 0.4226 - acc: 0.8215
Epoch 167/500
0s - loss: 0.4196 - acc: 0.8013
Epoch 168/500
0s - loss: 0.4114 - acc: 0.8171
Epoch 169/500
0s - loss: 0.4114 - acc: 0.8294
Epoch 170/500
0s - loss: 0.4033 - acc: 0.8328
Epoch 171/500
0s - loss: 0.4103 - acc: 0.8305
Epoch 172/500
0s - loss: 0.4966 - acc: 0.7924
Epoch 173/500
0s - loss: 0.4830 - acc: 0.7823
Epoch 174/500
0s - loss: 0.4711 - acc: 0.8025
Epoch 175/500
0s - loss: 0.4608 - acc: 0.8013
Epoch 176/500
0s - loss: 0.4555 - acc: 0.8047
Epoch 177/500
0s - loss: 0.4604 - acc: 0.7946
Epoch 178/500
0s - loss: 0.4576 - acc: 0.8013
Epoch 179/500
0s - loss: 0.4664 - acc: 0.7924
Epoch 180/500
0s - loss: 0.4659 - acc: 0.7980
Epoch 181/500
0s - loss: 0.4559 - acc: 0.8126
Epoch 182/500

0s - loss: 0.4552 - acc: 0.7901
Epoch 183/500
0s - loss: 0.4878 - acc: 0.7834
Epoch 184/500
0s - loss: 0.4981 - acc: 0.7666
Epoch 185/500
0s - loss: 0.4769 - acc: 0.7823
Epoch 186/500
0s - loss: 0.4506 - acc: 0.8058
Epoch 187/500
0s - loss: 0.4527 - acc: 0.7924
Epoch 188/500
0s - loss: 0.4740 - acc: 0.7969
Epoch 189/500
0s - loss: 0.4897 - acc: 0.7845
Epoch 190/500
0s - loss: 0.4587 - acc: 0.7980
Epoch 191/500
0s - loss: 0.4500 - acc: 0.8193
Epoch 192/500
0s - loss: 0.4245 - acc: 0.8137
Epoch 193/500
0s - loss: 0.4419 - acc: 0.8137
Epoch 194/500
0s - loss: 0.4512 - acc: 0.8047
Epoch 195/500
0s - loss: 0.4494 - acc: 0.8204
Epoch 196/500
0s - loss: 0.4402 - acc: 0.8036
Epoch 197/500
0s - loss: 0.4408 - acc: 0.8114
Epoch 198/500
0s - loss: 0.4405 - acc: 0.8058
Epoch 199/500
0s - loss: 0.4262 - acc: 0.8204
Epoch 200/500
0s - loss: 0.4408 - acc: 0.8249
Epoch 201/500
0s - loss: 0.4346 - acc: 0.8159
Epoch 202/500
0s - loss: 0.4427 - acc: 0.7935
Epoch 203/500
0s - loss: 0.4513 - acc: 0.7924
Epoch 204/500
0s - loss: 0.4530 - acc: 0.7969
Epoch 205/500
0s - loss: 0.4556 - acc: 0.7957
Epoch 206/500
0s - loss: 0.4402 - acc: 0.8126
Epoch 207/500
0s - loss: 0.4399 - acc: 0.8081
Epoch 208/500
0s - loss: 0.4826 - acc: 0.8070
Epoch 209/500
0s - loss: 0.4460 - acc: 0.8193
Epoch 210/500
0s - loss: 0.4225 - acc: 0.8316
Epoch 211/500
0s - loss: 0.4582 - acc: 0.8070
Epoch 212/500
0s - loss: 0.4541 - acc: 0.8171
Epoch 213/500
0s - loss: 0.4334 - acc: 0.8227
Epoch 214/500
0s - loss: 0.4308 - acc: 0.8126
Epoch 215/500
0s - loss: 0.4465 - acc: 0.8159
Epoch 216/500
0s - loss: 0.4356 - acc: 0.8114
Epoch 217/500
0s - loss: 0.4432 - acc: 0.8092
Epoch 218/500
0s - loss: 0.4281 - acc: 0.8215
Epoch 219/500
0s - loss: 0.4245 - acc: 0.8193
Epoch 220/500
0s - loss: 0.4105 - acc: 0.8328
Epoch 221/500
0s - loss: 0.4169 - acc: 0.8114
Epoch 222/500
0s - loss: 0.4161 - acc: 0.8171
Epoch 223/500
0s - loss: 0.4179 - acc: 0.8137
Epoch 224/500
0s - loss: 0.4365 - acc: 0.8148
Epoch 225/500
0s - loss: 0.4511 - acc: 0.7800
Epoch 226/500
0s - loss: 0.4487 - acc: 0.8013
Epoch 227/500
0s - loss: 0.4602 - acc: 0.8227
Epoch 228/500
0s - loss: 0.4323 - acc: 0.8092
Epoch 229/500
0s - loss: 0.4260 - acc: 0.8182
Epoch 230/500
0s - loss: 0.4203 - acc: 0.8182
Epoch 231/500
0s - loss: 0.4454 - acc: 0.8002
Epoch 232/500
0s - loss: 0.4203 - acc: 0.8272
Epoch 233/500
0s - loss: 0.4343 - acc: 0.8182
Epoch 234/500
0s - loss: 0.4192 - acc: 0.8171
Epoch 235/500
0s - loss: 0.4256 - acc: 0.8171
Epoch 236/500
0s - loss: 0.4206 - acc: 0.8204
Epoch 237/500
0s - loss: 0.4224 - acc: 0.8047
Epoch 238/500
0s - loss: 0.4135 - acc: 0.8193
Epoch 239/500
0s - loss: 0.4287 - acc: 0.8058
Epoch 240/500
0s - loss: 0.4252 - acc: 0.8070
Epoch 241/500
0s - loss: 0.4249 - acc: 0.8159
Epoch 242/500
0s - loss: 0.4371 - acc: 0.8193
Epoch 243/500
0s - loss: 0.4213 - acc: 0.8182
Epoch 244/500
0s - loss: 0.4214 - acc: 0.8047
Epoch 245/500
0s - loss: 0.4159 - acc: 0.8171
Epoch 246/500
0s - loss: 0.4171 - acc: 0.8328
Epoch 247/500
0s - loss: 0.4066 - acc: 0.8171
Epoch 248/500
0s - loss: 0.4210 - acc: 0.8137
Epoch 249/500
0s - loss: 0.4053 - acc: 0.8249
Epoch 250/500
0s - loss: 0.4179 - acc: 0.8036
Epoch 251/500
0s - loss: 0.4076 - acc: 0.8215
Epoch 252/500
0s - loss: 0.4302 - acc: 0.8114
Epoch 253/500
0s - loss: 0.4148 - acc: 0.8081
Epoch 254/500
0s - loss: 0.4121 - acc: 0.8114
Epoch 255/500
0s - loss: 0.4248 - acc: 0.8070
Epoch 256/500
0s - loss: 0.4039 - acc: 0.8137
Epoch 257/500
0s - loss: 0.4093 - acc: 0.8238
Epoch 258/500
0s - loss: 0.3989 - acc: 0.8249
Epoch 259/500
0s - loss: 0.4179 - acc: 0.8058
Epoch 260/500
0s - loss: 0.4276 - acc: 0.8070
Epoch 261/500
0s - loss: 0.4371 - acc: 0.8103
Epoch 262/500
0s - loss: 0.4370 - acc: 0.8103
Epoch 263/500
0s - loss: 0.4229 - acc: 0.8238
Epoch 264/500
0s - loss: 0.4134 - acc: 0.8171
Epoch 265/500
0s - loss: 0.4162 - acc: 0.8227
Epoch 266/500
0s - loss: 0.4168 - acc: 0.8227
Epoch 267/500
0s - loss: 0.4298 - acc: 0.7980
Epoch 268/500
0s - loss: 0.4098 - acc: 0.8215
Epoch 269/500
0s - loss: 0.4005 - acc: 0.8249
Epoch 270/500
0s - loss: 0.4544 - acc: 0.8215
Epoch 271/500
0s - loss: 0.4234 - acc: 0.8137
Epoch 272/500
0s - loss: 0.4141 - acc: 0.8159
Epoch 273/500
0s - loss: 0.4358 - acc: 0.8137
Epoch 274/500
0s - loss: 0.4808 - acc: 0.7677
Epoch 275/500
0s - loss: 0.4611 - acc: 0.7879
Epoch 276/500
0s - loss: 0.4323 - acc: 0.8092
Epoch 277/500
0s - loss: 0.4396 - acc: 0.8058
Epoch 278/500
0s - loss: 0.4162 - acc: 0.8159
Epoch 279/500
0s - loss: 0.4199 - acc: 0.8193
Epoch 280/500
0s - loss: 0.4819 - acc: 0.7980
Epoch 281/500
0s - loss: 0.5111 - acc: 0.7497
Epoch 282/500
0s - loss: 0.5183 - acc: 0.7632
Epoch 283/500
0s - loss: 0.4949 - acc: 0.7699
Epoch 284/500
0s - loss: 0.4987 - acc: 0.7666
Epoch 285/500
0s - loss: 0.4973 - acc: 0.7733
Epoch 286/500
0s - loss: 0.4707 - acc: 0.7890
Epoch 287/500
0s - loss: 0.4762 - acc: 0.7912
Epoch 288/500
0s - loss: 0.4888 - acc: 0.7901
Epoch 289/500
0s - loss: 0.4785 - acc: 0.7946
Epoch 290/500
0s - loss: 0.4966 - acc: 0.8002
Epoch 291/500
0s - loss: 0.4678 - acc: 0.8103
Epoch 292/500
0s - loss: 0.4500 - acc: 0.8159
Epoch 293/500
0s - loss: 0.4600 - acc: 0.8058
Epoch 294/500
0s - loss: 0.4451 - acc: 0.7980
Epoch 295/500
0s - loss: 0.4402 - acc: 0.7935
Epoch 296/500
0s - loss: 0.4804 - acc: 0.7980
Epoch 297/500
0s - loss: 0.4684 - acc: 0.8036
Epoch 298/500
0s - loss: 0.4632 - acc: 0.7935
Epoch 299/500
0s - loss: 0.4677 - acc: 0.8070
Epoch 300/500
0s - loss: 0.4602 - acc: 0.8058
Epoch 301/500
0s - loss: 0.4544 - acc: 0.8058
Epoch 302/500
0s - loss: 0.4425 - acc: 0.8092
Epoch 303/500
0s - loss: 0.4097 - acc: 0.8204
Epoch 304/500
0s - loss: 0.4416 - acc: 0.8036
Epoch 305/500
0s - loss: 0.4130 - acc: 0.8092
Epoch 306/500
0s - loss: 0.4270 - acc: 0.8002
Epoch 307/500
0s - loss: 0.4219 - acc: 0.8148
Epoch 308/500
0s - loss: 0.4056 - acc: 0.8171
Epoch 309/500
0s - loss: 0.4201 - acc: 0.8249
Epoch 310/500
0s - loss: 0.4317 - acc: 0.8070
Epoch 311/500
0s - loss: 0.4099 - acc: 0.8227
Epoch 312/500
0s - loss: 0.4118 - acc: 0.8227
Epoch 313/500
0s - loss: 0.4068 - acc: 0.8260
Epoch 314/500
0s - loss: 0.4184 - acc: 0.8204
Epoch 315/500
0s - loss: 0.4142 - acc: 0.8260
Epoch 316/500
0s - loss: 0.4343 - acc: 0.8114
Epoch 317/500
0s - loss: 0.4100 - acc: 0.8215
Epoch 318/500
0s - loss: 0.4118 - acc: 0.8249
Epoch 319/500
0s - loss: 0.4143 - acc: 0.8137
Epoch 320/500
0s - loss: 0.4098 - acc: 0.8092
Epoch 321/500
0s - loss: 0.4057 - acc: 0.8238
Epoch 322/500
0s - loss: 0.4119 - acc: 0.8204
Epoch 323/500
0s - loss: 0.4211 - acc: 0.8193
Epoch 324/500
0s - loss: 0.4115 - acc: 0.8204
Epoch 325/500
0s - loss: 0.4027 - acc: 0.8227
Epoch 326/500
0s - loss: 0.4132 - acc: 0.8227
Epoch 327/500
0s - loss: 0.4070 - acc: 0.8283
Epoch 328/500
0s - loss: 0.4084 - acc: 0.8249
Epoch 329/500
0s - loss: 0.4347 - acc: 0.8013
Epoch 330/500
0s - loss: 0.4113 - acc: 0.8227
Epoch 331/500
0s - loss: 0.4275 - acc: 0.8092
Epoch 332/500
0s - loss: 0.4196 - acc: 0.8227
Epoch 333/500
0s - loss: 0.4320 - acc: 0.8215
Epoch 334/500
0s - loss: 0.4018 - acc: 0.8384
Epoch 335/500
0s - loss: 0.4136 - acc: 0.8159
Epoch 336/500
0s - loss: 0.3931 - acc: 0.8126
Epoch 337/500
0s - loss: 0.4420 - acc: 0.8215
Epoch 338/500
0s - loss: 0.4188 - acc: 0.8013
Epoch 339/500
0s - loss: 0.4034 - acc: 0.8227
Epoch 340/500
0s - loss: 0.4075 - acc: 0.8171
Epoch 341/500
0s - loss: 0.4034 - acc: 0.8182
Epoch 342/500
0s - loss: 0.4153 - acc: 0.8025
Epoch 343/500
0s - loss: 0.4532 - acc: 0.7980
Epoch 344/500
0s - loss: 0.4440 - acc: 0.8182
Epoch 345/500
0s - loss: 0.4323 - acc: 0.8227
Epoch 346/500
0s - loss: 0.4212 - acc: 0.8148
Epoch 347/500
0s - loss: 0.4212 - acc: 0.8238
Epoch 348/500
0s - loss: 0.4177 - acc: 0.8171
Epoch 349/500
0s - loss: 0.4178 - acc: 0.8103
Epoch 350/500
0s - loss: 0.4159 - acc: 0.8114
Epoch 351/500
0s - loss: 0.4133 - acc: 0.8193
Epoch 352/500
0s - loss: 0.4105 - acc: 0.8193
Epoch 353/500
0s - loss: 0.4179 - acc: 0.8204
Epoch 354/500
0s - loss: 0.4066 - acc: 0.8215
Epoch 355/500
0s - loss: 0.4196 - acc: 0.8002
Epoch 356/500
0s - loss: 0.4164 - acc: 0.8013
Epoch 357/500
0s - loss: 0.4047 - acc: 0.8159
Epoch 358/500
0s - loss: 0.3946 - acc: 0.8182
Epoch 359/500
0s - loss: 0.4066 - acc: 0.8081
Epoch 360/500
0s - loss: 0.3881 - acc: 0.8294
Epoch 361/500

0s - loss: 0.3973 - acc: 0.8215
Epoch 362/500
0s - loss: 0.4021 - acc: 0.8328
Epoch 363/500
0s - loss: 0.4049 - acc: 0.8272
Epoch 364/500
0s - loss: 0.4281 - acc: 0.8171
Epoch 365/500
0s - loss: 0.4268 - acc: 0.8283
Epoch 366/500
0s - loss: 0.4013 - acc: 0.8171
Epoch 367/500
0s - loss: 0.4092 - acc: 0.8092
Epoch 368/500
0s - loss: 0.4189 - acc: 0.8260
Epoch 369/500
0s - loss: 0.4331 - acc: 0.8025
Epoch 370/500
0s - loss: 0.4114 - acc: 0.8025
Epoch 371/500
0s - loss: 0.4165 - acc: 0.8249
Epoch 372/500
0s - loss: 0.4180 - acc: 0.8103
Epoch 373/500
0s - loss: 0.4150 - acc: 0.8103
Epoch 374/500
0s - loss: 0.4086 - acc: 0.8092
Epoch 375/500
0s - loss: 0.3910 - acc: 0.8238
Epoch 376/500
0s - loss: 0.4059 - acc: 0.8204
Epoch 377/500
0s - loss: 0.4206 - acc: 0.8305
Epoch 378/500
0s - loss: 0.4065 - acc: 0.8227
Epoch 379/500
0s - loss: 0.4102 - acc: 0.8328
Epoch 380/500
0s - loss: 0.4592 - acc: 0.8058
Epoch 381/500
0s - loss: 0.5012 - acc: 0.7912
Epoch 382/500
0s - loss: 0.5332 - acc: 0.7497
Epoch 383/500
0s - loss: 0.5020 - acc: 0.7688
Epoch 384/500
0s - loss: 0.4808 - acc: 0.7767
Epoch 385/500
0s - loss: 0.4822 - acc: 0.7823
Epoch 386/500
0s - loss: 0.4387 - acc: 0.7924
Epoch 387/500
0s - loss: 0.4443 - acc: 0.8058
Epoch 388/500
0s - loss: 0.4765 - acc: 0.7901
Epoch 389/500
0s - loss: 0.4532 - acc: 0.8036
Epoch 390/500
0s - loss: 0.4441 - acc: 0.8058
Epoch 391/500
0s - loss: 0.4427 - acc: 0.8103
Epoch 392/500
0s - loss: 0.4787 - acc: 0.8070
Epoch 393/500
0s - loss: 0.4608 - acc: 0.8103
Epoch 394/500
0s - loss: 0.4227 - acc: 0.8283
Epoch 395/500
0s - loss: 0.4421 - acc: 0.8339
Epoch 396/500
0s - loss: 0.4082 - acc: 0.8350
Epoch 397/500
0s - loss: 0.4591 - acc: 0.8058
Epoch 398/500
0s - loss: 0.4477 - acc: 0.8025
Epoch 399/500
0s - loss: 0.4600 - acc: 0.8171
Epoch 400/500
0s - loss: 0.4311 - acc: 0.8148
Epoch 401/500
0s - loss: 0.4390 - acc: 0.8036
Epoch 402/500
0s - loss: 0.4173 - acc: 0.8126
Epoch 403/500
0s - loss: 0.4170 - acc: 0.8316
Epoch 404/500
0s - loss: 0.4149 - acc: 0.8148
Epoch 405/500
0s - loss: 0.4142 - acc: 0.8171
Epoch 406/500
0s - loss: 0.4232 - acc: 0.8204
Epoch 407/500
0s - loss: 0.4114 - acc: 0.8193
Epoch 408/500
0s - loss: 0.4285 - acc: 0.8092
Epoch 409/500
0s - loss: 0.4361 - acc: 0.8272
Epoch 410/500
0s - loss: 0.4510 - acc: 0.8316
Epoch 411/500
0s - loss: 0.4582 - acc: 0.8227
Epoch 412/500
0s - loss: 0.4369 - acc: 0.8182
Epoch 413/500
0s - loss: 0.4242 - acc: 0.8103
Epoch 414/500
0s - loss: 0.4165 - acc: 0.8126
Epoch 415/500
0s - loss: 0.4423 - acc: 0.8227
Epoch 416/500
0s - loss: 0.4142 - acc: 0.8283
Epoch 417/500
0s - loss: 0.4262 - acc: 0.8114
Epoch 418/500
0s - loss: 0.4312 - acc: 0.8137
Epoch 419/500
0s - loss: 0.5109 - acc: 0.8114
Epoch 420/500
0s - loss: 0.4573 - acc: 0.7980
Epoch 421/500
0s - loss: 0.4743 - acc: 0.7811
Epoch 422/500
0s - loss: 0.4593 - acc: 0.7868
Epoch 423/500
0s - loss: 0.4266 - acc: 0.8148
Epoch 424/500
0s - loss: 0.4297 - acc: 0.8058
Epoch 425/500
0s - loss: 0.4227 - acc: 0.8103
Epoch 426/500
0s - loss: 0.4241 - acc: 0.8092
Epoch 427/500
0s - loss: 0.4197 - acc: 0.8182
Epoch 428/500
0s - loss: 0.4230 - acc: 0.8249
Epoch 429/500
0s - loss: 0.4239 - acc: 0.8249
Epoch 430/500
0s - loss: 0.4250 - acc: 0.8182
Epoch 431/500
0s - loss: 0.4342 - acc: 0.8328
Epoch 432/500
0s - loss: 0.4104 - acc: 0.8193
Epoch 433/500
0s - loss: 0.4238 - acc: 0.8058
Epoch 434/500
0s - loss: 0.4138 - acc: 0.8159
Epoch 435/500
0s - loss: 0.4061 - acc: 0.8036
Epoch 436/500
0s - loss: 0.4084 - acc: 0.8215
Epoch 437/500
0s - loss: 0.4125 - acc: 0.8204
Epoch 438/500
0s - loss: 0.4129 - acc: 0.8126
Epoch 439/500
0s - loss: 0.4123 - acc: 0.8182
Epoch 440/500
0s - loss: 0.4383 - acc: 0.8126
Epoch 441/500
0s - loss: 0.4101 - acc: 0.8249
Epoch 442/500
0s - loss: 0.4164 - acc: 0.8204
Epoch 443/500
0s - loss: 0.4120 - acc: 0.8171
Epoch 444/500
0s - loss: 0.4157 - acc: 0.8227
Epoch 445/500
0s - loss: 0.4032 - acc: 0.8148
Epoch 446/500
0s - loss: 0.4096 - acc: 0.8294
Epoch 447/500
0s - loss: 0.4133 - acc: 0.8159
Epoch 448/500
0s - loss: 0.4135 - acc: 0.8215
Epoch 449/500
0s - loss: 0.4138 - acc: 0.8193
Epoch 450/500
0s - loss: 0.4088 - acc: 0.8204
Epoch 451/500
0s - loss: 0.4171 - acc: 0.8126
Epoch 452/500
0s - loss: 0.4007 - acc: 0.8193
Epoch 453/500
0s - loss: 0.4053 - acc: 0.8328
Epoch 454/500
0s - loss: 0.4042 - acc: 0.8215
Epoch 455/500
0s - loss: 0.4014 - acc: 0.8283
Epoch 456/500
0s - loss: 0.3908 - acc: 0.8227
Epoch 457/500
0s - loss: 0.4072 - acc: 0.8227
Epoch 458/500
0s - loss: 0.4636 - acc: 0.7924
Epoch 459/500
0s - loss: 0.4474 - acc: 0.7935
Epoch 460/500
0s - loss: 0.4354 - acc: 0.8081
Epoch 461/500
0s - loss: 0.4285 - acc: 0.7935
Epoch 462/500
0s - loss: 0.4209 - acc: 0.8081
Epoch 463/500
0s - loss: 0.4132 - acc: 0.8193
Epoch 464/500
0s - loss: 0.4109 - acc: 0.8215
Epoch 465/500
0s - loss: 0.4220 - acc: 0.8204
Epoch 466/500
0s - loss: 0.4092 - acc: 0.8238
Epoch 467/500
0s - loss: 0.4159 - acc: 0.8204
Epoch 468/500
0s - loss: 0.4143 - acc: 0.8047
Epoch 469/500
0s - loss: 0.4097 - acc: 0.8328
Epoch 470/500
0s - loss: 0.4119 - acc: 0.8126
Epoch 471/500
0s - loss: 0.4034 - acc: 0.8227
Epoch 472/500
0s - loss: 0.4103 - acc: 0.8260
Epoch 473/500
0s - loss: 0.3984 - acc: 0.8204
Epoch 474/500
0s - loss: 0.4067 - acc: 0.8137
Epoch 475/500
0s - loss: 0.3939 - acc: 0.8249
Epoch 476/500
0s - loss: 0.4045 - acc: 0.8204
Epoch 477/500
0s - loss: 0.3874 - acc: 0.8361
Epoch 478/500
0s - loss: 0.4047 - acc: 0.8215
Epoch 479/500
0s - loss: 0.4357 - acc: 0.8058
Epoch 480/500
0s - loss: 0.4071 - acc: 0.8283
Epoch 481/500
0s - loss: 0.4014 - acc: 0.8092
Epoch 482/500
0s - loss: 0.4002 - acc: 0.8305
Epoch 483/500
0s - loss: 0.4012 - acc: 0.8126
Epoch 484/500
0s - loss: 0.3956 - acc: 0.8227
Epoch 485/500
0s - loss: 0.3977 - acc: 0.8373
Epoch 486/500
0s - loss: 0.4102 - acc: 0.8148
Epoch 487/500
0s - loss: 0.3970 - acc: 0.8260
Epoch 488/500
0s - loss: 0.4125 - acc: 0.8249
Epoch 489/500
0s - loss: 0.4321 - acc: 0.8305
Epoch 490/500
0s - loss: 0.4091 - acc: 0.8227
Epoch 491/500
0s - loss: 0.3902 - acc: 0.8418
Epoch 492/500
0s - loss: 0.4007 - acc: 0.8328
Epoch 493/500
0s - loss: 0.4028 - acc: 0.8137
Epoch 494/500
0s - loss: 0.3999 - acc: 0.8227
Epoch 495/500
0s - loss: 0.4001 - acc: 0.8260
Epoch 496/500
0s - loss: 0.4094 - acc: 0.8070
Epoch 497/500
0s - loss: 0.4346 - acc: 0.8081
Epoch 498/500
0s - loss: 0.4114 - acc: 0.8204
Epoch 499/500
0s - loss: 0.4251 - acc: 0.8137
Epoch 500/500
0s - loss: 0.4170 - acc: 0.8114

In [19]:
p_survived = model.predict_classes(test_data.values)

 32/418 [=>............................] - ETA: 0s

In [20]:
submission = pd.DataFrame()
submission['PassengerId'] = test_passenger_id
submission['Survived'] = p_survived
submission.to_csv('./data/titanic_keras_cs.csv', index=False)