# Kaggle Titanic

### Data preparation

Column | Missing Data | Feature Scaling | Comment
--- |:---:|:---:|:---
PassengerId|||Needed for submission
Survived|||Training label
Pclass||As is|
Name|||Ignored
Sex||Encoded as 0(<) or 1(F)|
Age|Impute with mean|As is|
SibSp|Impute with mean|As is|
Parch|Impute with mean|As is|
Ticket|||Ignored
Cabin|||Ignored
Embarked|||Ignored

### Model
  * 15 hidden layers of 128
  * Dropout .4
  * loss='categorical_crossentropy', optimizer='adam'
  * 500 epochs


### Kaggle score
  * 0.75598


### Change history
Score|Comment
---|:---
0.75598|First attempt
0.73684|Changed Pclass and Sex to one hot encoding
0.72248|Undid the last change and rescaled Parch as well
0.77990|

In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd
# import matplotlib.pyplot as plt

/opt/conda/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: compiletime version 3.5 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.6
  return f(*args, **kwds)

In [2]:
# load data
train_data = pd.read_csv(r"./data/train.csv")
test_data = pd.read_csv(r"./data/test.csv")

In [3]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
# Delete the data we don't need
cols = ["Name", "Ticket", "Embarked", "Cabin", "Fare"]
train_data.drop(cols, axis=1, inplace=True)
test_data.drop(cols, axis=1, inplace=True)
train_data.head(20)

    PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch
0             1         0       3    male  22.0      1      0
1             2         1       1  female  38.0      1      0
2             3         1       3  female  26.0      0      0
3             4         1       1  female  35.0      1      0
4             5         0       3    male  35.0      0      0
5             6         0       3    male   NaN      0      0
6             7         0       1    male  54.0      0      0
7             8         0       3    male   2.0      3      1
8             9         1       3  female  27.0      0      2
9            10         1       2  female  14.0      1      0
10           11         1       3  female   4.0      1      1
11           12         1       1  female  58.0      0      0
12           13         0       3    male  20.0      0      0
13           14         0       3    male  39.0      1      5
14           15         0       3  female  14.0      0      0
15           16         1       2  female  55.0      0      0
16           17         0       3    male   2.0      4      1
17           18         1       2    male   NaN      0      0
18           19         0       3  female  31.0      1      0
19           20         1       3  female   NaN      0      0

In [6]:
# Fill the NaNs in Age, SibSp and Parch with the mean of the training data of that column
def fillna_n(col,n):
    col.fillna(n, inplace=True)
    
mean_age = train_data["Age"].mean()
mean_sibsp = train_data["SibSp"].mean()
mean_parch = train_data["Parch"].mean()

fillna_n(train_data["Age"], mean_age)
fillna_n(test_data["Age"], mean_age)
fillna_n(train_data["SibSp"], mean_sibsp)
fillna_n(test_data["SibSp"], mean_sibsp)
fillna_n(train_data["Parch"], mean_parch)
fillna_n(test_data["Parch"], mean_parch)

In [7]:
# What NaNs do we still have?
print(train_data.isnull().sum())
print(test_data.isnull().sum())
train_data[train_data.isnull().any(axis=1)]
test_data[test_data.isnull().any(axis=1)]

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
dtype: int64
PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
dtype: int64

Empty DataFrame
Columns: [PassengerId, Pclass, Sex, Age, SibSp, Parch]
Index: []

In [8]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(["male","female"])
train_data["Sex"] = le.transform(train_data["Sex"]) 
test_data["Sex"] = le.transform(test_data["Sex"])
# train_data = pd.get_dummies(train_data,columns=["Sex","Pclass"])
# test_data = pd.get_dummies(test_data,columns=["Sex","Pclass"])
# train_data.head()

In [9]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
# for data in [train_data, test_data]:
#     data["Age"] = scaler.fit_transform(data["Age"].values.reshape(-1,1))
#     data["SibSp"] = scaler.fit_transform(data["SibSp"].values.reshape(-1,1))
#     data["Parch"] = scaler.fit_transform(data["SibSp"].values.reshape(-1,1))
#     data["Pclass"] = scaler.fit_transform(data["Pclass"].values.reshape(-1,1))

train_data.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch
0            1         0       3    1  22.0      1      0
1            2         1       1    0  38.0      1      0
2            3         1       3    0  26.0      0      0
3            4         1       1    0  35.0      1      0
4            5         0       3    1  35.0      0      0

In [10]:
train_data.to_csv("./data/train_prepped.csv")
test_data.to_csv("./data/test_prepped.csv")

In [11]:
#save PassengerId for evaluation and remove from data
test_passenger_id=test_data["PassengerId"]
train_data.drop("PassengerId", axis=1, inplace=True)
test_data.drop("PassengerId", axis=1, inplace=True)

y = pd.get_dummies(train_data['Survived'])
y.head()

   0  1
0  1  0
1  0  1
2  0  1
3  0  1
4  1  0

In [12]:
x = train_data.drop("Survived", axis=1)
x.head()

   Pclass  Sex   Age  SibSp  Parch
0       3    1  22.0      1      0
1       1    0  38.0      1      0
2       3    0  26.0      0      0
3       1    0  35.0      1      0
4       3    1  35.0      0      0

In [13]:
from keras.models import Sequential
from keras.optimizers import SGD, RMSprop, Adam
from keras.layers import Dense, Activation, Dropout

Using TensorFlow backend.

In [14]:
model = Sequential()
model.add(Dense(input_dim=x.shape[1], units=128, kernel_initializer='normal', bias_initializer='zeros'))
model.add(Activation('relu'))

for i in range (0,15):
    model.add(Dense(units=128, kernel_initializer='normal', bias_initializer='zeros'))
    model.add(Activation('relu'))
    model.add(Dropout(.4))
    
model.add(Dense(units=2))
model.add(Activation('softmax'))

model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [15]:
model.fit(x.values, y.values, epochs=500, verbose=2)

Epoch 1/500
0s - loss: 0.6815 - acc: 0.6083
Epoch 2/500
0s - loss: 0.6693 - acc: 0.6162
Epoch 3/500
0s - loss: 0.6658 - acc: 0.6162
Epoch 4/500
0s - loss: 0.6675 - acc: 0.6162
Epoch 5/500
0s - loss: 0.6513 - acc: 0.6162
Epoch 6/500
0s - loss: 0.6452 - acc: 0.6162
Epoch 7/500
0s - loss: 0.6236 - acc: 0.6162
Epoch 8/500
0s - loss: 0.6019 - acc: 0.6364
Epoch 9/500
0s - loss: 0.5785 - acc: 0.7273
Epoch 10/500
0s - loss: 0.6205 - acc: 0.7104
Epoch 11/500
0s - loss: 0.5590 - acc: 0.7688
Epoch 12/500
0s - loss: 0.5727 - acc: 0.7688
Epoch 13/500
0s - loss: 0.5363 - acc: 0.7778
Epoch 14/500
0s - loss: 0.5819 - acc: 0.7576
Epoch 15/500
0s - loss: 0.5162 - acc: 0.7957
Epoch 16/500
0s - loss: 0.5278 - acc: 0.7991
Epoch 17/500
0s - loss: 0.5360 - acc: 0.7845
Epoch 18/500
0s - loss: 0.5199 - acc: 0.7935
Epoch 19/500
0s - loss: 0.5460 - acc: 0.7677
Epoch 20/500
0s - loss: 0.5400 - acc: 0.7834
Epoch 21/500
0s - loss: 0.5146 - acc: 0.7980
Epoch 22/500
0s - loss: 0.5002 - acc: 0.8193
Epoch 23/500
0s - loss: 0.5173 - acc: 0.7935
Epoch 24/500
0s - loss: 0.5190 - acc: 0.8047
Epoch 25/500
0s - loss: 0.4990 - acc: 0.7901
Epoch 26/500
0s - loss: 0.5051 - acc: 0.8126
Epoch 27/500
0s - loss: 0.4854 - acc: 0.8148
Epoch 28/500
0s - loss: 0.5163 - acc: 0.7991
Epoch 29/500
0s - loss: 0.5041 - acc: 0.7946
Epoch 30/500
0s - loss: 0.5364 - acc: 0.7980
Epoch 31/500
0s - loss: 0.5072 - acc: 0.8036
Epoch 32/500
0s - loss: 0.5005 - acc: 0.8081
Epoch 33/500
0s - loss: 0.4925 - acc: 0.8148
Epoch 34/500
0s - loss: 0.5284 - acc: 0.7767
Epoch 35/500
0s - loss: 0.4925 - acc: 0.8047
Epoch 36/500
0s - loss: 0.4984 - acc: 0.8182
Epoch 37/500
0s - loss: 0.4929 - acc: 0.7980
Epoch 38/500
0s - loss: 0.4958 - acc: 0.7957
Epoch 39/500
0s - loss: 0.4706 - acc: 0.8013
Epoch 40/500
0s - loss: 0.4734 - acc: 0.8025
Epoch 41/500
0s - loss: 0.4767 - acc: 0.8204
Epoch 42/500
0s - loss: 0.4830 - acc: 0.8182
Epoch 43/500
0s - loss: 0.4646 - acc: 0.8137
Epoch 44/500
0s - loss: 0.4724 - acc: 0.8114
Epoch 45/500
0s - loss: 0.4847 - acc: 0.8148
Epoch 46/500
0s - loss: 0.4557 - acc: 0.8148
Epoch 47/500
0s - loss: 0.4641 - acc: 0.8204
Epoch 48/500
0s - loss: 0.4540 - acc: 0.8204
Epoch 49/500
0s - loss: 0.4732 - acc: 0.8070
Epoch 50/500
0s - loss: 0.4832 - acc: 0.8137
Epoch 51/500
0s - loss: 0.4706 - acc: 0.8025
Epoch 52/500
0s - loss: 0.4583 - acc: 0.8137
Epoch 53/500
0s - loss: 0.4648 - acc: 0.8159
Epoch 54/500
0s - loss: 0.4827 - acc: 0.8047
Epoch 55/500
0s - loss: 0.4459 - acc: 0.8227
Epoch 56/500
0s - loss: 0.4651 - acc: 0.8081
Epoch 57/500
0s - loss: 0.4823 - acc: 0.8238
Epoch 58/500
0s - loss: 0.4559 - acc: 0.8148
Epoch 59/500
0s - loss: 0.4573 - acc: 0.8182
Epoch 60/500
0s - loss: 0.4929 - acc: 0.7890
Epoch 61/500
0s - loss: 0.4946 - acc: 0.7935
Epoch 62/500
0s - loss: 0.4557 - acc: 0.8103
Epoch 63/500
0s - loss: 0.4708 - acc: 0.8159
Epoch 64/500
0s - loss: 0.5395 - acc: 0.7531
Epoch 65/500
0s - loss: 0.4642 - acc: 0.8182
Epoch 66/500
0s - loss: 0.4652 - acc: 0.8126
Epoch 67/500
0s - loss: 0.4700 - acc: 0.8148
Epoch 68/500
0s - loss: 0.4568 - acc: 0.8182
Epoch 69/500
0s - loss: 0.4593 - acc: 0.8182
Epoch 70/500
0s - loss: 0.4371 - acc: 0.8171
Epoch 71/500
0s - loss: 0.4586 - acc: 0.8036
Epoch 72/500
0s - loss: 0.4500 - acc: 0.8227
Epoch 73/500
0s - loss: 0.4338 - acc: 0.8159
Epoch 74/500
0s - loss: 0.4513 - acc: 0.8126
Epoch 75/500
0s - loss: 0.4380 - acc: 0.8159
Epoch 76/500
0s - loss: 0.4659 - acc: 0.8249
Epoch 77/500
0s - loss: 0.4793 - acc: 0.8148
Epoch 78/500
0s - loss: 0.4747 - acc: 0.8103
Epoch 79/500
0s - loss: 0.4538 - acc: 0.8283
Epoch 80/500
0s - loss: 0.4495 - acc: 0.8204
Epoch 81/500
0s - loss: 0.4550 - acc: 0.8148
Epoch 82/500
0s - loss: 0.4537 - acc: 0.8204
Epoch 83/500
0s - loss: 0.4497 - acc: 0.8126
Epoch 84/500
0s - loss: 0.4397 - acc: 0.8159
Epoch 85/500
0s - loss: 0.4891 - acc: 0.8114
Epoch 86/500
0s - loss: 0.4679 - acc: 0.8070
Epoch 87/500
0s - loss: 0.4461 - acc: 0.8171
Epoch 88/500
0s - loss: 0.4379 - acc: 0.8283
Epoch 89/500
0s - loss: 0.4517 - acc: 0.8215
Epoch 90/500
0s - loss: 0.4569 - acc: 0.8092
Epoch 91/500
0s - loss: 0.4477 - acc: 0.8126
Epoch 92/500
0s - loss: 0.4496 - acc: 0.8148
Epoch 93/500
0s - loss: 0.4495 - acc: 0.8215
Epoch 94/500
0s - loss: 0.4660 - acc: 0.8092
Epoch 95/500
0s - loss: 0.4431 - acc: 0.8215
Epoch 96/500
0s - loss: 0.4452 - acc: 0.8036
Epoch 97/500
0s - loss: 0.4437 - acc: 0.8013
Epoch 98/500
0s - loss: 0.4392 - acc: 0.8025
Epoch 99/500
0s - loss: 0.4281 - acc: 0.8159
Epoch 100/500
0s - loss: 0.4489 - acc: 0.8238
Epoch 101/500
0s - loss: 0.4552 - acc: 0.8092
Epoch 102/500
0s - loss: 0.4407 - acc: 0.8272
Epoch 103/500
0s - loss: 0.4396 - acc: 0.8148
Epoch 104/500
0s - loss: 0.4639 - acc: 0.8137
Epoch 105/500
0s - loss: 0.4669 - acc: 0.8171
Epoch 106/500
0s - loss: 0.4737 - acc: 0.8013
Epoch 107/500
0s - loss: 0.4603 - acc: 0.8103
Epoch 108/500
0s - loss: 0.4462 - acc: 0.8148
Epoch 109/500
0s - loss: 0.4671 - acc: 0.8182
Epoch 110/500
0s - loss: 0.4723 - acc: 0.8137
Epoch 111/500
0s - loss: 0.4367 - acc: 0.8182
Epoch 112/500
0s - loss: 0.4667 - acc: 0.8182
Epoch 113/500
0s - loss: 0.4641 - acc: 0.8114
Epoch 114/500
0s - loss: 0.5096 - acc: 0.8002
Epoch 115/500
0s - loss: 0.4545 - acc: 0.8148
Epoch 116/500
0s - loss: 0.4497 - acc: 0.8260
Epoch 117/500
0s - loss: 0.4333 - acc: 0.8238
Epoch 118/500
0s - loss: 0.4306 - acc: 0.8260
Epoch 119/500
0s - loss: 0.4248 - acc: 0.8204
Epoch 120/500
0s - loss: 0.4614 - acc: 0.8148
Epoch 121/500
0s - loss: 0.4400 - acc: 0.8159
Epoch 122/500
0s - loss: 0.4497 - acc: 0.8114
Epoch 123/500
0s - loss: 0.4575 - acc: 0.8171
Epoch 124/500
0s - loss: 0.4484 - acc: 0.8238
Epoch 125/500
0s - loss: 0.4583 - acc: 0.7969
Epoch 126/500
0s - loss: 0.4324 - acc: 0.8373
Epoch 127/500
0s - loss: 0.4577 - acc: 0.8103
Epoch 128/500
0s - loss: 0.4415 - acc: 0.8159
Epoch 129/500
0s - loss: 0.4602 - acc: 0.8013
Epoch 130/500
0s - loss: 0.4462 - acc: 0.8182
Epoch 131/500
0s - loss: 0.4830 - acc: 0.7924
Epoch 132/500
0s - loss: 0.5116 - acc: 0.7834
Epoch 133/500
0s - loss: 0.4464 - acc: 0.8114
Epoch 134/500
0s - loss: 0.4583 - acc: 0.8171
Epoch 135/500
0s - loss: 0.4407 - acc: 0.8305
Epoch 136/500
0s - loss: 0.4542 - acc: 0.8148
Epoch 137/500
0s - loss: 0.4552 - acc: 0.8159
Epoch 138/500
0s - loss: 0.4516 - acc: 0.8204
Epoch 139/500
0s - loss: 0.4439 - acc: 0.8215
Epoch 140/500
0s - loss: 0.4410 - acc: 0.8193
Epoch 141/500
0s - loss: 0.4316 - acc: 0.8193
Epoch 142/500
0s - loss: 0.4528 - acc: 0.8238
Epoch 143/500
0s - loss: 0.4674 - acc: 0.8103
Epoch 144/500
0s - loss: 0.4351 - acc: 0.8294
Epoch 145/500
0s - loss: 0.4336 - acc: 0.8114
Epoch 146/500
0s - loss: 0.4313 - acc: 0.8182
Epoch 147/500
0s - loss: 0.4467 - acc: 0.8260
Epoch 148/500
0s - loss: 0.4444 - acc: 0.8204
Epoch 149/500
0s - loss: 0.4455 - acc: 0.8193
Epoch 150/500
0s - loss: 0.4424 - acc: 0.8260
Epoch 151/500
0s - loss: 0.4672 - acc: 0.8215
Epoch 152/500
0s - loss: 0.4363 - acc: 0.8171
Epoch 153/500
0s - loss: 0.5026 - acc: 0.7800
Epoch 154/500
0s - loss: 0.4500 - acc: 0.8249
Epoch 155/500
0s - loss: 0.4418 - acc: 0.8227
Epoch 156/500
0s - loss: 0.4556 - acc: 0.8070
Epoch 157/500
0s - loss: 0.4370 - acc: 0.8137
Epoch 158/500
0s - loss: 0.4484 - acc: 0.8148
Epoch 159/500
0s - loss: 0.4612 - acc: 0.7935
Epoch 160/500
0s - loss: 0.4532 - acc: 0.8159
Epoch 161/500
0s - loss: 0.4280 - acc: 0.8294
Epoch 162/500
0s - loss: 0.4664 - acc: 0.7991
Epoch 163/500
0s - loss: 0.4460 - acc: 0.8204
Epoch 164/500
0s - loss: 0.4454 - acc: 0.8148
Epoch 165/500
0s - loss: 0.4300 - acc: 0.8171
Epoch 166/500
0s - loss: 0.4461 - acc: 0.8092
Epoch 167/500
0s - loss: 0.4352 - acc: 0.8103
Epoch 168/500
0s - loss: 0.4450 - acc: 0.8070
Epoch 169/500
0s - loss: 0.4496 - acc: 0.8002
Epoch 170/500
0s - loss: 0.4290 - acc: 0.8182
Epoch 171/500
0s - loss: 0.4482 - acc: 0.8058
Epoch 172/500
0s - loss: 0.4417 - acc: 0.8137
Epoch 173/500
0s - loss: 0.4515 - acc: 0.8182
Epoch 174/500
0s - loss: 0.4574 - acc: 0.8092
Epoch 175/500
0s - loss: 0.4376 - acc: 0.8272
Epoch 176/500
0s - loss: 0.4385 - acc: 0.8137
Epoch 177/500
0s - loss: 0.4297 - acc: 0.8215
Epoch 178/500
0s - loss: 0.4192 - acc: 0.8260
Epoch 179/500
0s - loss: 0.4297 - acc: 0.8148
Epoch 180/500
0s - loss: 0.4270 - acc: 0.8159
Epoch 181/500
0s - loss: 0.4205 - acc: 0.8227
Epoch 182/500

0s - loss: 0.4428 - acc: 0.8316
Epoch 183/500
0s - loss: 0.4405 - acc: 0.8114
Epoch 184/500
0s - loss: 0.4358 - acc: 0.8238
Epoch 185/500
0s - loss: 0.4542 - acc: 0.8215
Epoch 186/500
0s - loss: 0.4368 - acc: 0.8081
Epoch 187/500
0s - loss: 0.4167 - acc: 0.8305
Epoch 188/500
0s - loss: 0.4207 - acc: 0.8103
Epoch 189/500
0s - loss: 0.4188 - acc: 0.8193
Epoch 190/500
0s - loss: 0.4296 - acc: 0.8193
Epoch 191/500
0s - loss: 0.4090 - acc: 0.8182
Epoch 192/500
0s - loss: 0.4468 - acc: 0.8227
Epoch 193/500
0s - loss: 0.4381 - acc: 0.8182
Epoch 194/500
0s - loss: 0.4090 - acc: 0.8384
Epoch 195/500
0s - loss: 0.4327 - acc: 0.8036
Epoch 196/500
0s - loss: 0.4209 - acc: 0.8283
Epoch 197/500
0s - loss: 0.4237 - acc: 0.8249
Epoch 198/500
0s - loss: 0.4391 - acc: 0.8260
Epoch 199/500
0s - loss: 0.4332 - acc: 0.8103
Epoch 200/500
0s - loss: 0.4040 - acc: 0.8283
Epoch 201/500
0s - loss: 0.4316 - acc: 0.8204
Epoch 202/500
0s - loss: 0.4151 - acc: 0.8260
Epoch 203/500
0s - loss: 0.4133 - acc: 0.8204
Epoch 204/500
0s - loss: 0.4268 - acc: 0.8193
Epoch 205/500
0s - loss: 0.5199 - acc: 0.7710
Epoch 206/500
0s - loss: 0.4818 - acc: 0.8058
Epoch 207/500
0s - loss: 0.4587 - acc: 0.8081
Epoch 208/500
0s - loss: 0.4358 - acc: 0.8361
Epoch 209/500
0s - loss: 0.4319 - acc: 0.8227
Epoch 210/500
0s - loss: 0.4287 - acc: 0.8238
Epoch 211/500
0s - loss: 0.4474 - acc: 0.8092
Epoch 212/500
0s - loss: 0.4346 - acc: 0.8193
Epoch 213/500
0s - loss: 0.4216 - acc: 0.8294
Epoch 214/500
0s - loss: 0.4296 - acc: 0.8171
Epoch 215/500
0s - loss: 0.4290 - acc: 0.8305
Epoch 216/500
0s - loss: 0.4732 - acc: 0.7868
Epoch 217/500
0s - loss: 0.4323 - acc: 0.8204
Epoch 218/500
0s - loss: 0.4504 - acc: 0.8114
Epoch 219/500
0s - loss: 0.5633 - acc: 0.7295
Epoch 220/500
0s - loss: 0.5521 - acc: 0.7464
Epoch 221/500
0s - loss: 0.4536 - acc: 0.8159
Epoch 222/500
0s - loss: 0.4399 - acc: 0.8215
Epoch 223/500
0s - loss: 0.4293 - acc: 0.8272
Epoch 224/500
0s - loss: 0.4449 - acc: 0.8148
Epoch 225/500
0s - loss: 0.4322 - acc: 0.8283
Epoch 226/500
0s - loss: 0.4217 - acc: 0.8305
Epoch 227/500
0s - loss: 0.4204 - acc: 0.8215
Epoch 228/500
0s - loss: 0.4764 - acc: 0.8081
Epoch 229/500
0s - loss: 0.4312 - acc: 0.8103
Epoch 230/500
0s - loss: 0.4179 - acc: 0.8171
Epoch 231/500
0s - loss: 0.4463 - acc: 0.8227
Epoch 232/500
0s - loss: 0.4565 - acc: 0.8171
Epoch 233/500
0s - loss: 0.4408 - acc: 0.8058
Epoch 234/500
0s - loss: 0.4298 - acc: 0.8137
Epoch 235/500
0s - loss: 0.4224 - acc: 0.8215
Epoch 236/500
0s - loss: 0.4372 - acc: 0.8081
Epoch 237/500
0s - loss: 0.4181 - acc: 0.8204
Epoch 238/500
0s - loss: 0.4252 - acc: 0.8283
Epoch 239/500
0s - loss: 0.4381 - acc: 0.8294
Epoch 240/500
0s - loss: 0.4235 - acc: 0.8204
Epoch 241/500
0s - loss: 0.4551 - acc: 0.8159
Epoch 242/500
0s - loss: 0.4982 - acc: 0.7755
Epoch 243/500
0s - loss: 0.4878 - acc: 0.7912
Epoch 244/500
0s - loss: 0.4564 - acc: 0.8070
Epoch 245/500
0s - loss: 0.4333 - acc: 0.8215
Epoch 246/500
0s - loss: 0.4841 - acc: 0.8092
Epoch 247/500
0s - loss: 0.4582 - acc: 0.7980
Epoch 248/500
0s - loss: 0.4360 - acc: 0.8204
Epoch 249/500
0s - loss: 0.5120 - acc: 0.7912
Epoch 250/500
0s - loss: 0.4836 - acc: 0.7969
Epoch 251/500
0s - loss: 0.4530 - acc: 0.8047
Epoch 252/500
0s - loss: 0.4650 - acc: 0.7935
Epoch 253/500
0s - loss: 0.4491 - acc: 0.8272
Epoch 254/500
0s - loss: 0.4813 - acc: 0.8137
Epoch 255/500
0s - loss: 0.4572 - acc: 0.8227
Epoch 256/500
0s - loss: 0.4302 - acc: 0.8283
Epoch 257/500
0s - loss: 0.4423 - acc: 0.8070
Epoch 258/500
0s - loss: 0.4487 - acc: 0.8092
Epoch 259/500
0s - loss: 0.4269 - acc: 0.8238
Epoch 260/500
0s - loss: 0.4328 - acc: 0.8204
Epoch 261/500
0s - loss: 0.4251 - acc: 0.8238
Epoch 262/500
0s - loss: 0.4197 - acc: 0.8193
Epoch 263/500
0s - loss: 0.4346 - acc: 0.8159
Epoch 264/500
0s - loss: 0.5425 - acc: 0.7508
Epoch 265/500
0s - loss: 0.4593 - acc: 0.8137
Epoch 266/500
0s - loss: 0.4711 - acc: 0.8103
Epoch 267/500
0s - loss: 0.4395 - acc: 0.8159
Epoch 268/500
0s - loss: 0.4290 - acc: 0.8171
Epoch 269/500
0s - loss: 0.4223 - acc: 0.8092
Epoch 270/500
0s - loss: 0.4634 - acc: 0.8182
Epoch 271/500
0s - loss: 0.4513 - acc: 0.7935
Epoch 272/500
0s - loss: 0.4316 - acc: 0.8103
Epoch 273/500
0s - loss: 0.4293 - acc: 0.8148
Epoch 274/500
0s - loss: 0.5447 - acc: 0.7430
Epoch 275/500
0s - loss: 0.5325 - acc: 0.7553
Epoch 276/500
0s - loss: 0.4722 - acc: 0.7969
Epoch 277/500
0s - loss: 0.4371 - acc: 0.8238
Epoch 278/500
0s - loss: 0.4249 - acc: 0.8148
Epoch 279/500
0s - loss: 0.4442 - acc: 0.8171
Epoch 280/500
0s - loss: 0.4256 - acc: 0.8305
Epoch 281/500
0s - loss: 0.4316 - acc: 0.8328
Epoch 282/500
0s - loss: 0.4231 - acc: 0.8339
Epoch 283/500
0s - loss: 0.4229 - acc: 0.8126
Epoch 284/500
0s - loss: 0.4199 - acc: 0.8305
Epoch 285/500
0s - loss: 0.4228 - acc: 0.8204
Epoch 286/500
0s - loss: 0.4308 - acc: 0.8204
Epoch 287/500
0s - loss: 0.4157 - acc: 0.8204
Epoch 288/500
0s - loss: 0.4193 - acc: 0.8193
Epoch 289/500
0s - loss: 0.4580 - acc: 0.8171
Epoch 290/500
0s - loss: 0.4311 - acc: 0.8328
Epoch 291/500
0s - loss: 0.4356 - acc: 0.8204
Epoch 292/500
0s - loss: 0.4679 - acc: 0.7879
Epoch 293/500
0s - loss: 0.4394 - acc: 0.8182
Epoch 294/500
0s - loss: 0.4341 - acc: 0.8182
Epoch 295/500
0s - loss: 0.4256 - acc: 0.8249
Epoch 296/500
0s - loss: 0.4211 - acc: 0.8215
Epoch 297/500
0s - loss: 0.4070 - acc: 0.8384
Epoch 298/500
0s - loss: 0.4448 - acc: 0.8283
Epoch 299/500
0s - loss: 0.4312 - acc: 0.8171
Epoch 300/500
0s - loss: 0.5089 - acc: 0.8025
Epoch 301/500
0s - loss: 0.4388 - acc: 0.8159
Epoch 302/500
0s - loss: 0.4318 - acc: 0.8103
Epoch 303/500
0s - loss: 0.4490 - acc: 0.8114
Epoch 304/500
0s - loss: 0.4345 - acc: 0.8204
Epoch 305/500
0s - loss: 0.4136 - acc: 0.8249
Epoch 306/500
0s - loss: 0.4328 - acc: 0.8249
Epoch 307/500
0s - loss: 0.4203 - acc: 0.8283
Epoch 308/500
0s - loss: 0.4336 - acc: 0.8148
Epoch 309/500
0s - loss: 0.4311 - acc: 0.8193
Epoch 310/500
0s - loss: 0.4353 - acc: 0.8260
Epoch 311/500
0s - loss: 0.4281 - acc: 0.8249
Epoch 312/500
0s - loss: 0.4291 - acc: 0.8182
Epoch 313/500
0s - loss: 0.4312 - acc: 0.8126
Epoch 314/500
0s - loss: 0.4244 - acc: 0.8283
Epoch 315/500
0s - loss: 0.4234 - acc: 0.8159
Epoch 316/500
0s - loss: 0.5751 - acc: 0.7183
Epoch 317/500
0s - loss: 0.4965 - acc: 0.7890
Epoch 318/500
0s - loss: 0.4680 - acc: 0.8215
Epoch 319/500
0s - loss: 0.4596 - acc: 0.8126
Epoch 320/500
0s - loss: 0.4509 - acc: 0.8193
Epoch 321/500
0s - loss: 0.4675 - acc: 0.8103
Epoch 322/500
0s - loss: 0.4309 - acc: 0.8294
Epoch 323/500
0s - loss: 0.4300 - acc: 0.8238
Epoch 324/500
0s - loss: 0.4298 - acc: 0.8249
Epoch 325/500
0s - loss: 0.4233 - acc: 0.8204
Epoch 326/500
0s - loss: 0.4334 - acc: 0.8204
Epoch 327/500
0s - loss: 0.4303 - acc: 0.8092
Epoch 328/500
0s - loss: 0.4285 - acc: 0.8227
Epoch 329/500
0s - loss: 0.4193 - acc: 0.8227
Epoch 330/500
0s - loss: 0.4375 - acc: 0.8159
Epoch 331/500
0s - loss: 0.4130 - acc: 0.8215
Epoch 332/500
0s - loss: 0.4167 - acc: 0.8260
Epoch 333/500
0s - loss: 0.4385 - acc: 0.8238
Epoch 334/500
0s - loss: 0.4168 - acc: 0.8373
Epoch 335/500
0s - loss: 0.4347 - acc: 0.8238
Epoch 336/500
0s - loss: 0.4314 - acc: 0.8238
Epoch 337/500
0s - loss: 0.4474 - acc: 0.8215
Epoch 338/500
0s - loss: 0.4575 - acc: 0.8193
Epoch 339/500
0s - loss: 0.4518 - acc: 0.8126
Epoch 340/500
0s - loss: 0.4759 - acc: 0.8070
Epoch 341/500
0s - loss: 0.4712 - acc: 0.7957
Epoch 342/500
0s - loss: 0.4522 - acc: 0.8159
Epoch 343/500
0s - loss: 0.4506 - acc: 0.8159
Epoch 344/500
0s - loss: 0.4300 - acc: 0.8193
Epoch 345/500
0s - loss: 0.4247 - acc: 0.8081
Epoch 346/500
0s - loss: 0.4488 - acc: 0.8193
Epoch 347/500
0s - loss: 0.4270 - acc: 0.8182
Epoch 348/500
0s - loss: 0.4144 - acc: 0.8204
Epoch 349/500
0s - loss: 0.4337 - acc: 0.8215
Epoch 350/500
0s - loss: 0.4250 - acc: 0.8373
Epoch 351/500
0s - loss: 0.4239 - acc: 0.8395
Epoch 352/500
0s - loss: 0.4283 - acc: 0.8272
Epoch 353/500
0s - loss: 0.4450 - acc: 0.8171
Epoch 354/500
0s - loss: 0.4430 - acc: 0.8171
Epoch 355/500
0s - loss: 0.4277 - acc: 0.8294
Epoch 356/500
0s - loss: 0.4296 - acc: 0.8339
Epoch 357/500
0s - loss: 0.4265 - acc: 0.8283
Epoch 358/500
0s - loss: 0.4460 - acc: 0.8058
Epoch 359/500
0s - loss: 0.4150 - acc: 0.8137
Epoch 360/500
0s - loss: 0.4466 - acc: 0.8114
Epoch 361/500

0s - loss: 0.4316 - acc: 0.8002
Epoch 362/500
0s - loss: 0.4110 - acc: 0.8328
Epoch 363/500
0s - loss: 0.4312 - acc: 0.8193
Epoch 364/500
0s - loss: 0.4159 - acc: 0.8215
Epoch 365/500
0s - loss: 0.4137 - acc: 0.8148
Epoch 366/500
0s - loss: 0.4103 - acc: 0.8227
Epoch 367/500
0s - loss: 0.4099 - acc: 0.8283
Epoch 368/500
0s - loss: 0.4165 - acc: 0.8395
Epoch 369/500
0s - loss: 0.4317 - acc: 0.8316
Epoch 370/500
0s - loss: 0.4169 - acc: 0.8238
Epoch 371/500
0s - loss: 0.4238 - acc: 0.8238
Epoch 372/500
0s - loss: 0.4350 - acc: 0.8070
Epoch 373/500
0s - loss: 0.4491 - acc: 0.7980
Epoch 374/500
0s - loss: 0.4249 - acc: 0.8182
Epoch 375/500
0s - loss: 0.4371 - acc: 0.8171
Epoch 376/500
0s - loss: 0.4245 - acc: 0.8148
Epoch 377/500
0s - loss: 0.4650 - acc: 0.8126
Epoch 378/500
0s - loss: 0.4544 - acc: 0.8126
Epoch 379/500
0s - loss: 0.4345 - acc: 0.8328
Epoch 380/500
0s - loss: 0.4508 - acc: 0.8159
Epoch 381/500
0s - loss: 0.4467 - acc: 0.8081
Epoch 382/500
0s - loss: 0.4396 - acc: 0.8249
Epoch 383/500
0s - loss: 0.4104 - acc: 0.8260
Epoch 384/500
0s - loss: 0.4360 - acc: 0.8305
Epoch 385/500
0s - loss: 0.4115 - acc: 0.8294
Epoch 386/500
0s - loss: 0.4181 - acc: 0.8283
Epoch 387/500
0s - loss: 0.4259 - acc: 0.8227
Epoch 388/500
0s - loss: 0.4287 - acc: 0.8350
Epoch 389/500
0s - loss: 0.4254 - acc: 0.8260
Epoch 390/500
0s - loss: 0.4185 - acc: 0.8350
Epoch 391/500
0s - loss: 0.4114 - acc: 0.8283
Epoch 392/500
0s - loss: 0.4242 - acc: 0.8081
Epoch 393/500
0s - loss: 0.4112 - acc: 0.8204
Epoch 394/500
0s - loss: 0.4325 - acc: 0.8227
Epoch 395/500
0s - loss: 0.4301 - acc: 0.8316
Epoch 396/500
0s - loss: 0.4257 - acc: 0.8204
Epoch 397/500
0s - loss: 0.4132 - acc: 0.8283
Epoch 398/500
0s - loss: 0.4031 - acc: 0.8339
Epoch 399/500
0s - loss: 0.4201 - acc: 0.8361
Epoch 400/500
0s - loss: 0.4153 - acc: 0.8249
Epoch 401/500
0s - loss: 0.4207 - acc: 0.8272
Epoch 402/500
0s - loss: 0.4100 - acc: 0.8361
Epoch 403/500
0s - loss: 0.4138 - acc: 0.8361
Epoch 404/500
0s - loss: 0.4355 - acc: 0.8238
Epoch 405/500
0s - loss: 0.4180 - acc: 0.8328
Epoch 406/500
0s - loss: 0.4111 - acc: 0.8350
Epoch 407/500
0s - loss: 0.4749 - acc: 0.7935
Epoch 408/500
0s - loss: 0.4457 - acc: 0.8036
Epoch 409/500
0s - loss: 0.4409 - acc: 0.8159
Epoch 410/500
0s - loss: 0.4301 - acc: 0.8238
Epoch 411/500
0s - loss: 0.4210 - acc: 0.8081
Epoch 412/500
0s - loss: 0.4183 - acc: 0.8103
Epoch 413/500
0s - loss: 0.4502 - acc: 0.8047
Epoch 414/500
0s - loss: 0.4215 - acc: 0.8148
Epoch 415/500
0s - loss: 0.4174 - acc: 0.8227
Epoch 416/500
0s - loss: 0.4557 - acc: 0.8036
Epoch 417/500
0s - loss: 0.4516 - acc: 0.8081
Epoch 418/500
0s - loss: 0.4541 - acc: 0.8126
Epoch 419/500
0s - loss: 0.4181 - acc: 0.8204
Epoch 420/500
0s - loss: 0.4162 - acc: 0.8204
Epoch 421/500
0s - loss: 0.4019 - acc: 0.8328
Epoch 422/500
0s - loss: 0.4225 - acc: 0.8260
Epoch 423/500
0s - loss: 0.5113 - acc: 0.7632
Epoch 424/500
0s - loss: 0.4594 - acc: 0.8013
Epoch 425/500
0s - loss: 0.4431 - acc: 0.8260
Epoch 426/500
0s - loss: 0.4304 - acc: 0.8126
Epoch 427/500
0s - loss: 0.4234 - acc: 0.8249
Epoch 428/500
0s - loss: 0.4134 - acc: 0.8171
Epoch 429/500
0s - loss: 0.4252 - acc: 0.8148
Epoch 430/500
0s - loss: 0.4082 - acc: 0.8193
Epoch 431/500
0s - loss: 0.4345 - acc: 0.8204
Epoch 432/500
0s - loss: 0.4180 - acc: 0.8182
Epoch 433/500
0s - loss: 0.4308 - acc: 0.8159
Epoch 434/500
0s - loss: 0.4266 - acc: 0.8182
Epoch 435/500
0s - loss: 0.4178 - acc: 0.8114
Epoch 436/500
0s - loss: 0.4189 - acc: 0.8249
Epoch 437/500
0s - loss: 0.4228 - acc: 0.8070
Epoch 438/500
0s - loss: 0.4192 - acc: 0.8260
Epoch 439/500
0s - loss: 0.4308 - acc: 0.8148
Epoch 440/500
0s - loss: 0.4131 - acc: 0.8193
Epoch 441/500
0s - loss: 0.4179 - acc: 0.8092
Epoch 442/500
0s - loss: 0.4260 - acc: 0.8171
Epoch 443/500
0s - loss: 0.4018 - acc: 0.8171
Epoch 444/500
0s - loss: 0.4158 - acc: 0.8193
Epoch 445/500
0s - loss: 0.4335 - acc: 0.7991
Epoch 446/500
0s - loss: 0.4166 - acc: 0.8204
Epoch 447/500
0s - loss: 0.4285 - acc: 0.8182
Epoch 448/500
0s - loss: 0.4167 - acc: 0.8238
Epoch 449/500
0s - loss: 0.4070 - acc: 0.8126
Epoch 450/500
0s - loss: 0.4087 - acc: 0.8047
Epoch 451/500
0s - loss: 0.4106 - acc: 0.8182
Epoch 452/500
0s - loss: 0.4155 - acc: 0.8047
Epoch 453/500
0s - loss: 0.4207 - acc: 0.8193
Epoch 454/500
0s - loss: 0.4116 - acc: 0.8058
Epoch 455/500
0s - loss: 0.4145 - acc: 0.8103
Epoch 456/500
0s - loss: 0.4181 - acc: 0.8126
Epoch 457/500
0s - loss: 0.4096 - acc: 0.8238
Epoch 458/500
0s - loss: 0.4584 - acc: 0.7879
Epoch 459/500
0s - loss: 0.4458 - acc: 0.8047
Epoch 460/500
0s - loss: 0.4358 - acc: 0.8036
Epoch 461/500
0s - loss: 0.4329 - acc: 0.8126
Epoch 462/500
0s - loss: 0.4356 - acc: 0.8070
Epoch 463/500
0s - loss: 0.4225 - acc: 0.8182
Epoch 464/500
0s - loss: 0.4190 - acc: 0.8272
Epoch 465/500
0s - loss: 0.4107 - acc: 0.8249
Epoch 466/500
0s - loss: 0.4238 - acc: 0.8316
Epoch 467/500
0s - loss: 0.4149 - acc: 0.8204
Epoch 468/500
0s - loss: 0.4195 - acc: 0.8159
Epoch 469/500
0s - loss: 0.4308 - acc: 0.8081
Epoch 470/500
0s - loss: 0.4003 - acc: 0.8260
Epoch 471/500
0s - loss: 0.4305 - acc: 0.8204
Epoch 472/500
0s - loss: 0.4143 - acc: 0.8159
Epoch 473/500
0s - loss: 0.4138 - acc: 0.8171
Epoch 474/500
0s - loss: 0.4197 - acc: 0.8204
Epoch 475/500
0s - loss: 0.4002 - acc: 0.8204
Epoch 476/500
0s - loss: 0.4148 - acc: 0.8159
Epoch 477/500
0s - loss: 0.4109 - acc: 0.8193
Epoch 478/500
0s - loss: 0.4122 - acc: 0.8002
Epoch 479/500
0s - loss: 0.4155 - acc: 0.8193
Epoch 480/500
0s - loss: 0.4071 - acc: 0.8215
Epoch 481/500
0s - loss: 0.4103 - acc: 0.8103
Epoch 482/500
0s - loss: 0.3996 - acc: 0.8260
Epoch 483/500
0s - loss: 0.4443 - acc: 0.8025
Epoch 484/500
0s - loss: 0.4374 - acc: 0.8036
Epoch 485/500
0s - loss: 0.4922 - acc: 0.7946
Epoch 486/500
0s - loss: 0.4514 - acc: 0.8148
Epoch 487/500
0s - loss: 0.4270 - acc: 0.8316
Epoch 488/500
0s - loss: 0.4157 - acc: 0.8182
Epoch 489/500
0s - loss: 0.4051 - acc: 0.8260
Epoch 490/500
0s - loss: 0.4184 - acc: 0.8316
Epoch 491/500
0s - loss: 0.4148 - acc: 0.8081
Epoch 492/500
0s - loss: 0.3948 - acc: 0.8114
Epoch 493/500
0s - loss: 0.3926 - acc: 0.8272
Epoch 494/500
0s - loss: 0.4019 - acc: 0.8204
Epoch 495/500
0s - loss: 0.4234 - acc: 0.8215
Epoch 496/500
0s - loss: 0.4537 - acc: 0.7969
Epoch 497/500
0s - loss: 0.4425 - acc: 0.8148
Epoch 498/500
0s - loss: 0.4215 - acc: 0.8227
Epoch 499/500
0s - loss: 0.4097 - acc: 0.8294
Epoch 500/500
0s - loss: 0.4212 - acc: 0.8025

In [16]:
p_survived = model.predict_classes(test_data.values)

 32/418 [=>............................] - ETA: 1s

In [17]:
submission = pd.DataFrame()
submission['PassengerId'] = test_passenger_id
submission['Survived'] = p_survived
submission.to_csv('./data/submission.csv', index=False)